

html
{margin:40px auto; }


html
{max-width:650px; }

html
{color: #444; }

.italique
{font-style: italic; }


.gras
{font-weight: bold; }

.courier
{font-family: "Courier New"; }